.fullscreen-bg {
    overflow: hidden;
    /*z-index: -100;*/
    position: relative;
    /*height: 100%;*/
    /*width: 100%;*/
    /*padding-top:45%;*/
}
 
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    z-index: -1;
}

h1,h2 { text-align: center;}
 
.overlay {
    color: #ffffff;
    text-align: center;
    z-index: 4;
}
.slick-dots li button:before{
    font-size: 14px !important;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{
    border-top: 0px solid #ddd;
    background-color:#f5f5f5;
}
.slick-slide.re {
    position: relative;
    min-height: 200px;
    background: #fff;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 40px;
}
.slick-slide.re img {
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
}
.media.screen-10 {
    background: #eeeeee;
}
.colls-5 {
    width: 20%;
    float: left;
}
.footer {
    background-color: #111111;
}

.m-b-30     {margin-bottom: 30px;}
.m-h-700    {max-height: 700px;}
.scroll-y   {overflow-y: scroll;}
.p-10       {padding: 10px;}

#style-2::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #666;
}
@media (max-width: 1200px) {
    .hide-img{
        display: none;
    }
}
@media (max-width: 992px) {
    .hide-img-900{
        display: none;
    }
}
@media (max-width: 500px) {
    .colls-5{
        width: 100%;
    }
}